.page-content .wrapper > h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 2rem;
}

// we can't directly refer to the ToC; GitHub doesn’t like us adding an id on
// a list (<ol id="something"> doesn’t render).
.page-content ol {
  list-style-type: none;
  margin-left: 0;

  // get a nicely-aligned list, e.g.:
  //
  //   9 December
  //  10 December
  //
  // instead of:
  //
  //  9 December
  //  10 December
  text-align: right;
  width: 7em;
}

.book {
  .ref {
    // h1-like
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 1.5em;

    margin-bottom: 10px;
  }

  .title {
    font-style: italic;
    font-weight: bold;
  }

  .sources {
    padding-left: 20px;

    .comment-author {
      font-style: normal;
    }
  }

  margin-bottom: 25px;
}

.notice {
  font-style: italic;
  text-align: center;
}
