.page-content .wrapper > h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}

.book {
  h1 {
    margin-bottom: 10px;
  }

  .title {
    font-style: italic;
    font-weight: bold;
  }

  .sources {
    padding-left: 20px;

    .comment-author {
      font-style: normal;
    }
  }

  margin-bottom: 25px;
}
